<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <script src="/js/main.js"></script>
</head>
<body>
    <p class = "poga">Get your student <a class = "poga" href="/student">here</a></p>

    <p class ="poga">Dziesmina <a href="/hello">here</a></p>

    <p class ="poga"><a class = "poga"href="/about">About</a></p>

    <p class ="poga"><a class = "poga"href="/input">Inputins</a></p>

    <p class ="poga"><a class = "poga"href="/money">Money</a></p>

    <p class = "poga"><a class = "poga" href = "/registration"> Register</a></p>
    
</body>
</html>